examples/repository/dev/query-input-example-transformed.rng

<?xml version="1.0"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" 
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

<start>
  <element name="queryInputMessage">
    <element name="title">
      <data type="string"/>
    </element>
    <element name="numberOfSeats">
      <data type="positiveInteger"/>
    </element>
  </element>
</start>
</grammar>

