examples/repository/rngs/book-description.rng

<element name="book" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" xmlns="http://relaxng.org/ns/structure/1.0">
  <attribute name="id">
    <data type="positiveInteger"/>
  </attribute>
  <element name="title">
    <data type="string"/>
  </element>
  <zeroOrMore>
    <element name="author">
      <data type="string"/>
    </element>  
  </zeroOrMore>  
</element>
