examples/repository/rngs/invoke-input.rng

<?xml version="1.0"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" 
          datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

<include href="relaxng-modular.rng"/>

<start>
  <element name="invokeInputMessage">
    <oneOrMore>
      <element name="input">
        <attribute name="name"><text/></attribute>
        <ref name="data"/>
      </element>
    </oneOrMore>
  </element>
</start>
</grammar>  
