examples/repository/rngs/list-of-loans.rng

<element name="loans" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" xmlns="http://relaxng.org/ns/structure/1.0">
  <zeroOrMore>
    <element name="loan">
      <attribute name="book">
        <data type="positiveInteger"/>
      </attribute>
      <attribute name="till">
        <data type="date"/>
      </attribute>
    </element>
  </zeroOrMore>  
</element>
