examples/repository/dev/xml+rngs-examples/query-output-example-transformed.rng

<?xml version="1.0"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" 
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

<start>
<element name="queryOutputMessage">
  <element name="movieID">
    <data type="string"/>
  </element>
  <element name="startingTime">
    <data type="dateTime"/>
  </element>
  <element name="price">
    <data type="float"/>
  </element>
</element>
</start>
</grammar>

