examples/helloworld/helloworld.rng

<element name="hello" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" xmlns="http://relaxng.org/ns/structure/1.0">
  <attribute name="id">
    <data type="integer"/>
  </attribute>  
  <element name="world">
    <attribute name="age">
      <data type="integer"/>
    </attribute>  
    <data type="string">
      <param name="pattern">[\w@.]+</param>
    </data>
  </element>
</element>
