examples/rescue/rng+xsl/group.rng

<?xml version="1.0"?>
<grammar  xmlns="http://relaxng.org/ns/structure/1.0"
          xmlns:rescue="http://rescue.org/ns/group/0.2"
          datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

<include href="relaxng-modular.rng"/>

<define name="property">
  <element name="element" ns="http://relaxng.org/ns/structure/1.0">
    <attribute name="name"/>
    <optional><attribute name="hidden"><value>true</value></attribute></optional>
    <oneOrMore>
      <element name="rescue:caption"><text/>
        <attribute name="lang"><data type="language"/></attribute>
      </element>
    </oneOrMore>
    <optional>
      <element name="rescue:description"><text/></element>
    </optional>
    <element name="data">
      <ref name="data"/>
    </element>
  </element>
</define>

<define name="method">
  <element name="rescue:method">
    <attribute name="name"/>
    <optional>
      <element name="rescue:description"><text/></element>
    </optional>
    <optional>
      <element name="rescue:input-message">
        <ref name="message"/>
      </element>
    </optional>
    <optional>
      <element name="rescue:output-message">
        <choice>
          <group>
            <attribute name="type"><value>list</value></attribute>
            <attribute name="item-name"/>
          </group>
          <attribute name="type"><value>single</value></attribute>
        </choice>
        <ref name="message"/>
      </element>
    </optional>
  </element>
</define>

<define name="message">
  <zeroOrMore>
    <ref name="property"/>
  </zeroOrMore>
</define>

<define name="execute">
  <element name="rescue:execute">
    <attribute name="name"/>
    <attribute name="method"/>
    <choice>
      <attribute name="request">
        <value>multiple</value>
      </attribute>
      <group>
        <attribute name="request">
          <value>particular</value>
        </attribute>
        <attribute name="selector"/>
      </group>
    </choice>
  </element>
</define>

<define name="operation">
  <element name="rescue:operation">
    <attribute name="name"/>
    <attribute name="short"><text/></attribute>
    <oneOrMore>
      <choice>
        <ref name="execute"/>
        <element name="rescue:selection">
          <attribute name="name"/>
          <attribute name="resultset"/>
          <oneOrMore>
            <choice>
              <element name="rescue:key">
                <attribute name="parameter-name"/>
              </element>
              <ref name="execute"/>
            </choice>
          </oneOrMore>
        </element>
      </choice>
    </oneOrMore>
  </element>
</define>

<start>
  <element name="rescue:interface">
    <optional>  <!-- Is a group without static properties imaginable? -->
      <element name="rescue:properties">
        <zeroOrMore>
          <ref name="property"/>
        </zeroOrMore>
      </element>
    </optional>
    <element name="rescue:operations">
      <oneOrMore>
        <ref name="operation"/>
      </oneOrMore>
    </element>
    <element name="rescue:methods">
      <oneOrMore>
        <ref name="method"/>
      </oneOrMore>
    </element>
  </element>
</start>
</grammar>
