ns/description-1_0.rng

<?xml version="1.0"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://riddl.org/ns/description/1.0">
  <include href="relaxng-modular.rng"/>
  <include href="datatypes-1_0.rng"/>

  <start>
    <ref name="riddl-description"/>
  </start>

  <define name="riddl-description">
    <element name="description">
      <attribute name="datatypeLibrary">
        <data type="anyURI"/>
      </attribute>
      <ref name="riddl-common-atts"/>
      <ref name="riddl-message"/>
      <ref name="riddl-resource"/>
    </element>
  </define>

  <define name="riddl-message">
    <zeroOrMore>
      <element name="message">
        <attribute name="name">
          <data type="NCName"/>
        </attribute>
        <zeroOrMore>
          <element name="parameter">
            <attribute name="name">
              <data type="NCName"/>
            </attribute>
            <optional>
              <attribute name="fixedValue">
                <data type="string"/>
              </attribute>
            </optional  
            <ref name="data"/>
          </element>
        </zeroOrMore>  
        <zeroOrMore>
          <element name="part">
            <attribute name="type">
              <data type="string">
                <param name="pattern">[\c]+/[\c]+</param>
              </data>
            </attribute>  
            <optional>
              <attribute name="check">
                <data type="anyURI"/>
              </attribute>  
            </optional>
            <optional>
              <attribute name="occurs">
                <choice>
                  <value>*</value>
                  <value>?</value>
                  <value>+</value>
                </choice>  
              </attribute>  
            </optional>
            <optional>
              <ref name="any"/>
            </optional>  
          </element>
        </zeroOrMore>  
      </element>  
    </zeroOrMore>  
  </define>

  <define name="riddl-resource">
    <element name="resource">
      <attribute name="relative">
        <ref name="riddl-datatype-relpath"/>
      </attribute>
      <ref name="riddl-resource-definition"/>
    </element>  
  </define>
      
  <define name="riddl-resource-definition">
    <optional>
      <attribute name="recursive">
        <data type="boolean"/>
      </attribute>  
    </optional>
    <interleave>
      <zeroOrMore>
        <element name="get">
          <ref name="riddl-methods"/>
        </element>
      </zeroOrMore>
      <zeroOrMore>
        <element name="put">
          <ref name="riddl-methods"/>
        </element>
      </zeroOrMore>
      <zeroOrMore>
        <element name="post">
          <ref name="riddl-methods"/>
        </element>
      </zeroOrMore>
      <zeroOrMore>
        <element name="delete">
          <ref name="riddl-methods"/>
        </element>
      </zeroOrMore>
    </interleave>  
    <optional>
      <element name="resource">
        <ref name="riddl-resource-definition"/>
      </element>  
    </optional> 
  </define>  

  <define name="riddl-methods">
    <attribute name="input">
      <data type="string"/>
    </attribute>
    <optional>
      <attribute name="output">
        <data type="string"/>
      </attribute>
    </optional>  
  </define>

</grammar>
